venv*
**/__pycache__
**/.idea
**/.vscode
**/~*
**/venv*
**/setenv.sh
**/.env.dev
**/*.json
**/*.srt
**/*.tsv
**/*.vtt
**/*.txt
**/*.mp4
**/*.mp3
**/t.py
**/*.docx
**/*.drawio
**/do_not_need*
**/auto_subs.py*
**/model
./bin/**


!**/*requirements.txt
!**/*requirements_for_windows.txt

