venv*
**/__pycache__
**/.idea
**/.vscode
**/~*
**/venv*
**/setenv.sh
**/.env.dev
**/*.json
**/*.srt
**/*.tsv
**/*.vtt
**/*.txt
**/*.mp4
**/t.py
!**/*requirements.txt
!**/for_make_folder.txt
!**/*requirements_for_w.txt
